# User-specific files
*.user
*.suo
*.userosscache
*.sln.docstates

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
bld/
[Bb]in/
[Oo]bj/
[Pp]ackages/
out/

# Visual Studio files
.vs/
*.vsp
*.vssscc
*.vspscc
*.sln.iml

# ReSharper
_ReSharper*/
*.ReSharper
*.DotSettings.user

# MSTest
*.Test.xml
*.testsettings

# NuGet
.nuget/
*.nupkg
nuget.exe

# SQLite files
*.db
*.db-shm
*.db-wal

# Other
*.cache
*.log
*.pidb
*.pdb
*.ilk
*.ncb
*.opensdf
*.sdf
*.msi
*.msm
*.msp
*.sln.ide
*.swp
*.swo